@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
html .o_web_client > .o_action_manager {
    overflow:scroll;
}
.ks_d_none {
    display: none !important;
}

$ks_font_family: "Montserrat", sans-serif;
.ks-data-summary {
  width: 100%;
  background-color: inherit;
  text-align: right;
  font-size: inherit;
  font-family: inherit;
}
.left-space{
    display: inline-block;
    margin-left: 10px;
}
.ks-data-summary table {
  font-family: $ks_font_family;
  width: 100%;
  font-size: 13px;
  font-family: inherit;
  font-weight: bold;
  margin-top: 15px;
}

.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: rgb(102, 102, 102);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  padding: 0.25rem 1.5rem;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  position: relative;
}

/* ============= Table for data =============== */

// --------------------------- Ageing Report ------------------------ //

.ks-data-table-age {
  font-family: $ks_font_family;
  background-color: white;
  padding: 0px 10px 0px 10px;
  font-size: 12px;
  color: #666666;
  tbody {
    tr {
      td {
        border-bottom: none;
        border-top: none;
      }
    }
  }

  tr.collapse.show {
    > td {
      padding: 0px;
    }
  }
  .ks_py-mline-table-div {
    table {
      thead {
        tr {
          background: #fff;
        }
      }
      tbody {
        td:first-child {
          padding-left: 3%;
        }
      }
    }
  }
  a {
    color: inherit;
  }

  thead > tr {
    th {
      padding-left: 15px;
    }

    th:last-child {
      padding-right: 20px;
      padding-left: 0px;
    }
    th:first-child {
      padding-left: 3%;
    }
  }
  thead {
    tr:first-child {
      background: #efefef;
    }
  }

  .ks-total-line {
    background-color: #000;
    font-weight: bold;
    td:first-child {
      padding-left: 3%;
    }
    td {
      color: #fff;
    }
    td > span {
      margin-left: 15px;
      color: #fff;
    }
  }

  .ks-mline {
    td:first-child {
      padding-left: 3%;
    }

    :hover {
      cursor: pointer;
    }
  }

  ul {
    li {
      display: inline;
      a {
        padding: 5px;
        cursor: pointer;
      }
    }
  }

  .ks-mline-data-table {
    width: 97%;
    margin: 0px 15px 0px 15px;
    thead > tr {
      th {
        padding-left: 15px;
      }
      th:last-child {
        padding-right: 0px;
        padding-left: 0px;
      }
    }

    tbody > tr {
      a {
        white-space: nowrap;
      }
      td {
        vertical-align: top;
      }
      td:first-child {
        // Entry label
        width: 8%;
      }
      td:nth-child(2) {
        // Due Date
        text-align: center;
      }
      td:nth-child(3) {
        // Journal
        width: 15%;
      }
      td:nth-child(3) {
        // Account
        width: 15%;
      }
      td:last-child {
        width: 8%;
      }
    }

    .ks_amt {
      text-align: right;
    }
    tr:hover {
      //background-color:#00ede8;
      font-weight: bold;
    }
  }
}
.ks_view-source {
  white-space: nowrap;
  background-color: transparent !important;
  display: block;
  cursor: pointer;
  font-weight: normal !important;
}
.ks_ks_view-source:hover,
.ks_view-source:hover {
  color: #69c7c5 !important;
}

// --------------------------- Trial Balance ------------------------ //

.ks_table_4 {
  font-family: $ks_font_family;
  background-color: white;
  padding: 0px 10px 0px 10px;
  color: #666666;

  a {
    color: inherit;
  }

  thead > tr:first-child {
    th {
      padding-left: 15px;
      text-align: center;
    }
  }

  thead > tr:nth-child(2) {
    th {
      padding-left: 15px;
    }

    th:last-child {
      padding-right: 20px;
      padding-left: 0px;
    }
  }

  tbody > tr:last-child {
    background-color: #000;
    color: #fff;
  }

  .ks_py-mline {
    border-bottom: 1px solid #bbb;
    background-color: white;
    //border-top: 2px solid #bbb;
    color: #666666;
    td:first-child {
      padding-left: 20px;
    }
    td > span {
      margin-left: 15px;
    }
    .bld {
      font-weight: bold;
    }
    .ks_amt {
      text-align: right;
    }
    :hover {
      cursor: pointer;
    }
  }

  .ks_py-mline-data-table {
    width: 97%;
    margin: 0px 15px 0px 15px;
    thead > tr {
      th {
        padding-left: 15px;
      }
      th:last-child {
        padding-right: 0px;
        padding-left: 0px;
      }
    }

    .ks_amt {
      text-align: right;
    }
    tr:hover {
      background-color: #00ede8;
    }
  }
}

// --------------------------- Financial Reports ------------------------ //

.ks_table_1 {
  font-family: $ks_font_family;
  border-collapse: separate;
  border-spacing: 0 10px;
  td {
    border-top: none;
  }
  th {
    border-top: none;
    border-bottom: none;
  }
  td,
  a {
    color: #777777;
  }
  .ks_table_2 {
    border-spacing: 0px;
    background: #fff;
    thead {
      th {
        border-top: none;
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

.ks_report_lines_row {
  background: #efefef;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  th {
    border-bottom: 0px;
    border-top: 0px;
  }
}
.ks_level_0 {
  background: #fafafa;
}

.ks_table_2 {
  border: 1px solid #ccc;
  border-spacing: 0 0px;
  border-radius: 3px;
  padding: 0px;
  .ks_level_1 {
    background: #fff;
    td {
      padding-top: 30px;
    }
  }

  .ks_level_1 td:first-child,
  .ks_level_2 td:first-child,
  .ks_level_3 td:first-child,
  .ks_level_4 td:first-child {
    padding-left: 15px;
  }
  .ks_level_1 td:first-child a,
  .ks_level_2 td:first-child a,
  .ks_level_3 td:first-child a,
  .ks_level_4 td:first-child a {
    position: relative;
  }
  .ks_level_1 td:first-child a:before,
  .ks_level_2 td:first-child a:before,
  .ks_level_3 td:first-child a:before,
  .ks_level_4 td last-child:first-child a:before {
    content: "\f149";
    color: #000;
    font-size: 10px;
    left: -15px;
    display: inline-flex;
    position: absolute;
    font-family: "FontAwesome";
    font-weight: 500;
  }
  .ks_level_4 {
    background: #fff;
    td {
      border-bottom: 1px solid #ccc !important;
    }
  }
  .ks_level_1 td {
    border-top: 1px solid #000;
    border-bottom: 1px solid #ccc;
  }
  .ks_level_2 {
    background: #fafafa;
    td {
      border-bottom: 1px solid #ccc;
    }
  }
}

.ks_table_4 {
  font-family: $ks_font_family;
  .bld {
    font-weight: 600;
  }

  .ks_in_bal {
    background: #9e9e9e;
    color: #fff;
  }
  .ks_to_dates {
    background: #e4c100;
    color: #fff;
  }
  .ks_Ending_Bal {
    background: #00a09d;
    color: #fff;
  }
  thead {
    tr {
      th {
        border-bottom: none;
        border-top: none;
        padding-left: 20px;
      }
      .ks_in_bal {
        border-right: 1px solid #000;
      }
      th:nth-child(2) {
        border-left: 1px solid #000;
      }
      th:nth-child(4) {
        border-right: 1px solid #000;
      }
      th:nth-child(8) {
        border-left: 1px solid #00a09d;
      }
      th:nth-child(10) {
        border-right: 1px solid #00a09d;
      }
    }

    .ks_color_th_1 {
      background: #fafafa;
      color: #767676;
    }
    .ks_color_th_2 {
      color: #767676;
      background: #d4d4d4;
    }
    .ks_color_th_3 {
      background: #f9f1c7;
      color: #be8b00;
    }

    .ks_color_th_4 {
      background: #b9edec;
      color: #00a09d;
    }
  }
  tbody {
    > tr:last-child {
      background-color: #424242;
      color: #fff;
    }
    tr:nth-child(1) {
      td {
        padding-top: 20px;
      }
    }
    tr {
      td {
        padding-left: 20px;
      }
    }
    tr:not(:last-child) {
      td:nth-child(2) {
        border-left: 1px solid #000;
      }
      td:nth-child(4) {
        border-right: 1px solid #000;
      }
      td:nth-child(8) {
        border-left: 1px solid #00a09d;
      }
      td:nth-child(10) {
        border-right: 1px solid #00a09d;
      }

      .ks_color_td_1 {
        color: #767676;
      }
      .ks_color_td_3 {
        color: #be8b00;
        border-top: 1px solid #e4c100;
        border-bottom: 1px solid #e4c100;
      }
      .ks_color_td_2 {
        color: #767676;
        border-top: 1px solid #757575;
        border-bottom: 1px solid #757575;
      }

      .ks_color_td_4 {
        color: #00a09d;
        border-top: 1px solid #00a09d;
        border-bottom: 1px solid #00a09d;
      }
    }
    tr:nth-child(even) {
      .ks_color_td_3 {
        background: #f9f1c7;
      }

      .ks_color_td_1 {
        background: #fafafa;
      }
      .ks_color_td_2 {
        background: #d4d4d4;
      }
      .ks_color_td_3 {
        background: #f9f1c7;
      }
      .ks_color_td_3:last-child {
        border-bottom: none;
      }
      .ks_color_td_4 {
        background: #b9edec;
      }
    }
    tr:nth-child(odd) {
      .ks_color_td_3 {
        background: #fdfaed;
      }
      .ks_color_td_1 {
        background: #ffffff;
      }
      .ks_color_td_2 {
        background: #ececec;
      }

      .ks_color_td_3:last-child {
        border-bottom: none;
      }
      .ks_color_td_4 {
        background: #d9faf9;
      }
    }
  }
}
.ks_table_6 {
  font-family: $ks_font_family;
  border-spacing: 0;
  background: #fbfbfb;
  thead {
    tr {
      background: #fff;
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid #ccc;
      }
    }
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
    .ks_pl-py-mline {
      background: #f1f1f1;
    }
  }
  .ks_py-mline-table-div {
    thead {
      tr {
        background: #efefef;
      }
    }
    tbody {
      tr {
        background: #fff;
      }
    }
  }
}
.ks_dynamic_report_base_journals_filter,
#extra_ks_df_informations_dropdown,
.ks_filter_date,
.ks_dynamic_report_base_ks_differentiate,
.ks_dynamic_report_base_partner_filter,
.ks_dynamic_report_base_account_filter,
.ks_df_differentiate {
  button {
    span {
      color: #69c7c5;
      padding-right: 10px;
    }
  }
}
.ks_report_pdf,
.ks_report_xlsx,
.ks_send_email,
.ks_dynamic_report_base_ks_differentiate .o_foldable_menu button,
.ks_filter_date .o_foldable_menu button,
.ks_df_differentiate .o_account_report_search button {
  background: #69c7c5;
  color: #fff;
  border: none;
  &:hover {
    background: #000;
    color: #fff;
  }
}
.ks_table_tax_report {
  font-family: $ks_font_family;

  border-spacing: 0 0px;
  background: #fff;
  thead {
    th {
      border-top: none;
      border-bottom: none;
    }
  }
  tbody {
    tr {
    border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      td {

      }
    }
    tr:last-child {
        border-top:none;
    }
  }
}
.o_foldable_menu.o_closed_menu {
  display: none;
}
.ks_table_executive {
  font-family: $ks_font_family;
  border-collapse: separate;
  border-spacing: 0 10px;
  thead {
    tr {
      th {
        border-bottom: none;
        border-top: none;
      }
    }
  }
  tbody {
    tr {
      td a,
      td {
        color: #777777;
      }
      td {
        border-top: none;
      }
      .bld {
        font-weight: bold;
      }
    }
    tr.collapse.show {
      background: none;
      td {
      }
    }
  }
}
.ks_table_cj0 {
  font-family: $ks_font_family;
  border-collapse: separate;
  border-spacing: 0 10px;
  thead {
    tr {
      th {
        border-bottom: none;
        border-top: none;
      }
    }
  }
  tbody {
    tr {
      background: #efefef;
      td a,
      td {
        color: #777777;
      }
      td {
        border-top: none;
      }
      .bld {
        font-weight: bold;
      }
    }
    tr.collapse.show {
      background: none;
      td {
      }
    }
  }
  table {
    width: 100%;
    border-radius: 3px;
    padding: 0px;
    background: #fff;
    border-collapse: separate;
    border-spacing: 0 0px;
    thead {
      th {
        border-top: none;
        background: #fff;
        border-bottom: 1px solid #dee2e6;
      }
    }
    tbody {
      background: #fff;
      tr {
        background: none;
      }
      tr:not(:last-child) {
        td {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}
.ks_table_executive {
  font-family: $ks_font_family;
  border-collapse: separate;
  border-spacing: 0 0px;
  padding: 10px;
  background: #fff;
  thead {
    tr {
      th {
        border-bottom: none;
        border-top: none;
      }
    }
  }
  tbody {
    tr {
      td a,
      td {
        color: #777777;
      }
      td {
        border-top: none;
      }
      .bld {
        font-weight: bold;
      }
    }

    tr.collapse.show {
      background: none;
      td {
      }
    }

    .ks_level_1 {
      td {
        font-weight: bold;
        border-bottom: none !important;
      }
    }
    .ks_level_2 {
      td {
        border-bottom: 1px solid #ccc;
      }

      td:first-child {
        border-left: 1px solid #ccc;
      }
      td:last-child {
        border-right: 1px solid #ccc;
      }
    }
    .ks_level_1 + .ks_level_2 {
      td {
        border-top: 1px solid #ccc;
      }
    }
  }
}
.ks_table_cj0 {
  font-family: $ks_font_family;
  border-collapse: separate;
  border-spacing: 0 10px;
  thead {
    tr {
      th {
        border-bottom: none;
        border-top: none;
      }
    }
  }
  tbody {
    tr {
      background: #efefef;
      td a,
      td {
        color: #777777;
      }
      td {
        border-top: none;
      }
      .bld {
        font-weight: bold;
      }
    }
    tr.collapse.show {
      background: none;
      td {
      }
    }
  }
  table {
    width: 100%;
    border-radius: 3px;
    padding: 0px;
    background: #fff;
    border-collapse: separate;
    border-spacing: 0 0px;
    thead {
      th {
        border-top: none;
        background: #fff;
        border-bottom: 1px solid #dee2e6;
      }
    }
    tbody {
      background: #fff;
      tr {
        background: none;
      }
      tr:not(:last-child) {
        td {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}

.ks_dynamic_report_base_journals_filter button::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #69c7c5;
}

.ks_dynamic_report_base_journals_filter button::-webkit-scrollbar, .o_account_reports_filter_bool button::-webkit-scrollbar, .ks_df_differentiate  button::-webkit-scrollbar, .ks_filter_date button::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #69c7c5;
}

.ks_dynamic_report_base_journals_filter button::-webkit-scrollbar-thumb, .o_account_reports_filter_bool button::-webkit-scrollbar-thumb, .ks_df_differentiate button::-webkit-scrollbar-thumb, .ks_filter_date button::-webkit-scrollbar-thumb  {
  background-color: #000;
  height: 4px;
}
.ks_dynamic_report_base_journals_filter button, .o_account_reports_filter_bool button, .ks_df_differentiate button, .ks_filter_date button {
  max-width: 135px;
  overflow-x: auto;
}
.ks_ks_view-source{
    background-color: transparent !important;
    font-weight: 400 !important;
}
.o_search_options .o_dropdown_toggler_btn:first-child {margin-right: 4px !important;max-width:70mm;}
.ks-data-table-age_pdf {

}


.o_filter_menu {
    left: auto !important;
}

.ks_d_block {
    display: block;
    top:40px;
}
.ks_py-mline-table-div {
    table {
      tbody {
        .dropdown{
            .dropdown-menu{
                padding-left: 0.5rem !important;
            }
        }
      }
    }
  }

  .ks_event_offer_list {
    pointer-events: none;
    color: #8080805e !important;
}
